doctype html
html
  head
    title= pageTitle
    link(rel='stylesheet', href='../public/stylesheet/layout.css')
  body
    header
      h1 Local Library App
    nav
      ul
        li
          a(href='/') Home
    main
      block content
    footer
      p Copyright © #{new Date().getFullYear()} Local Library App